<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /education-digital-marketing-services/
RewriteRule ^index\.html$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /education-digital-marketing-services/index.html [L]
</IfModule>